@model List<PortfolioProjectNigth.Models.Portfolio>
@{
    ViewBag.Title = "PortfolioList";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<h2 class="mb-4">Projelerim</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Fotoğraf Url</th>
        <th>Github Url</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            <td>@item.GithubUrl</td>

            <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Portfolio/UpdatePortfolio/@item.PortfolioID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Portfolio/CreatePortfolio" class="btn btn-info">Yeni Proje Girişi</a>
