﻿@model List<PortfolioProjectNigth.Models.Testimonial>
@{
    ViewBag.Title = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<h2 class="mb-4">Referanslarım </h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim Soyisim</th>
        <th>Adres</th>
        <th>Yorum</th>
        <th>Fotoğraf Url</th>
        <th>Puan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Address</td>
            <td>@item.Comment</td>
            <td>@item.Point</td>
            <td>@item.ImageUrl</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Testimonial/CreateTestimonial" class="btn btn-info">Yeni Referans Girişi</a>